@import url('./../../../assets/_settings.css');

.circle {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 7rem;
	width: 7rem;
	border-radius: 5rem;
}

.image {
	height: 100%;
	width: 100%;
	border-radius: 5rem;
}

.active {
	border: 2px solid var(--primary-main);
}